{{*
 * @package Mediboard\Ccam
 * @author  SAS OpenXtrem <dev@openxtrem.com>
 * @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 * @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*}}

<h1>Details du code {{$code_ccam}} à la date {{$date}}</h1>

<table class="tbl">
  <tr>
    <td style="width:50%;">Date d'effet</td>
    <td>{{$date_effet}}</td>
  </tr>
  <tr>
    <td>Arrêt ministériel</td>
    <td>{{$arrete_ministeriel}}</td>
  </tr>
  <tr>
    <td>Date de publication</td>
    <td>{{$publication_jo}}</td>
  </tr>
</table>