{{*
 * $Id$
 *
 * @category Ccam
 * @package  Mediboard
 * @author   SARL OpenXtrem <dev@openxtrem.com>
 * @license  GNU General Public License, see http://www.gnu.org/licenses/gpl.html
 * @version  $Revision$
 * @link     http://www.mediboard.org
*}}
<div>
  {{mb_include module=ccam template=print_actes_ccam}}
</div>
<br>
<div>
  {{mb_include module=ccam template=print_actes_ngap}}
</div>