{{*
 * @package Mediboard\Cabinet
 * @author  SAS OpenXtrem <dev@openxtrem.com>
 * @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 * @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*}}

<fieldset>
  <legend>{{tr}}type_assurance.assurance_maladie{{/tr}}</legend>
  <table>
    <tr>
      <td>{{tr}}type_assurance.assurance_maladie-desc{{/tr}}</td>
    </tr>
  </table>
</fieldset>