{{*
 * @package Mediboard\Maternite
 * @author  SAS OpenXtrem <dev@openxtrem.com>
 * @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 * @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*}}

<table class="tbl">
  <tr>
    <td>
      <a href="?m=maternite&a=offline_print_fiches&dialog=1" class="button search" target="_blank">
        Fiches ARE
      </a>
    </td>
  </tr>
</table>