/**
 * @package Mediboard\Installation
 * @author  SAS OpenXtrem <dev@openxtrem.com>
 * @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 * @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
 */
@import '../INUtils';

.INLoading {
  width: 100%;
  height: 100%;
  @include flex-center();

  &-fadein {
    animation-name: INLoadingAnimation;
    animation-duration: .75s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
  }

  &-icon {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }

  &-dot {
    animation: INLoadingRotation 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
    &::after {
      content: " ";
      display: block;
      position: absolute;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: $primary;
      margin: -4px 0 0 -4px;
    }

    &.nth1 {
      animation-delay: -0.036s;
      &::after {
        top: 63px;
        left: 63px;
      }
    }
    &.nth2 {
      animation-delay: -0.072s;
      &::after {
        top: 68px;
        left: 56px;
      }
    }
    &.nth3 {
      animation-delay: -0.108s;
      &::after {
        top: 71px;
        left: 48px;
      }
    }
    &.nth4 {
      animation-delay: -0.144s;
      &::after {
        top: 72px;
        left: 40px;
      }
    }
    &.nth5 {
      animation-delay: -0.18s;
      &::after {
        top: 71px;
        left: 32px;
      }
    }
    &.nth6 {
      animation-delay: -0.216s;
      &::after {
        top: 68px;
        left: 24px;
      }
    }
    &.nth7 {
      animation-delay: -0.252s;
      &::after {
        top: 63px;
        left: 17px;
      }
    }
    &.nth8 {
      animation-delay: -0.288s;
      &::after {
        top: 56px;
        left: 12px;
      }
    }
  }
}

@keyframes INLoadingAnimation {
  0% {opacity: 0}
  33% {opacity: 0}
  100% {opacity: 1}
}

@keyframes INLoadingRotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}