<!--
 @package Mediboard\Installation
 @author  SAS OpenXtrem <dev@openxtrem.com>
 @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<template>
  <div
    class="INLoading"
    :class="className">
    <div class="INLoading-icon">
      <div class="INLoading-dot nth1"></div>
      <div class="INLoading-dot nth2"></div>
      <div class="INLoading-dot nth3"></div>
      <div class="INLoading-dot nth4"></div>
      <div class="INLoading-dot nth5"></div>
      <div class="INLoading-dot nth6"></div>
      <div class="INLoading-dot nth7"></div>
      <div class="INLoading-dot nth8"></div>
    </div>
  </div>
</template>

<script src="./INLoading.ts" lang="ts"></script>

<style src="./INLoading.scss" lang="scss" scoped>
</style>
