{{*
 * @package Mediboard\Hprimxml
 * @author  SAS OpenXtrem <dev@openxtrem.com>
 * @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 * @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*}}

<tr>
  <th>{{mb_label object=$actor field="display_errors"}}</th>
  <td>{{mb_field object=$actor field="display_errors"}}</td>
</tr>

<tr>
  <th>{{mb_label object=$actor field="register"}}</th>
  <td>{{mb_field object=$actor field="register"}}</td>
</tr>

<tr>
  <th>{{mb_label object=$actor field="code_appli"}}</th>
  <td>{{mb_field object=$actor field="code_appli"}}</td>
</tr>

<tr>
  <th>{{mb_label object=$actor field="code_acteur"}}</th>
  <td>{{mb_field object=$actor field="code_acteur"}}</td>
</tr>

<tr>
  <th>{{mb_label object=$actor field="code_syst"}}</th>
  <td>{{mb_field object=$actor field="code_syst"}}</td>
</tr>