{{*
 * @package Mediboard\Hprimxml
 * @author  SAS OpenXtrem <dev@openxtrem.com>
 * @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 * @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*}}

<table class="main">
	<tr>
		<th class="title">{{mb_title object=$echange_hprim field="_message"}}</th>
	</tr>
	<tr>
    <td>{{mb_value object=$echange_hprim field="_message"}}</td>
  </tr>
</table>