//
// @package Mediboard\Style\Mediboard
// @author  SAS OpenXtrem <dev@openxtrem.com>
// @license https://www.gnu.org/licenses/gpl.html GNU General Public License
// @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
//


@mixin small-tabs {
  &.small,
  &.me-small,
  &[style*="font-size: 0.9em;"] {
    margin-top: 0;
    height: 26px;
    min-height: 26px;

    &.me-control-tabs-wraped {
      flex-wrap: wrap;
      height: initial;
      align-items: flex-end;

      > li {
        min-width: 100px;
        height: 26px;
      }
    }

    > li {
      > a {
        height: calc(100%);
        font-size: 11px;

        &.active::before,
        &:hover::before {
          height: 4px;
        }

        &::before {
          height: 2px;
        }
      }
    }
  }
}

@mixin stepper {
  height: auto;
  border: none;
  min-height: unset;
  margin-top: 0;

  > li {
    max-width: unset;
    flex: 1;
    position: relative;

    &.active {
      &::after {
        background-color: $grey-100;
      }

      ~ li::after {
        background-color: $grey-100;
      }
    }

    &.completed {
      > a {
        @include black-emphasis(0.87);

        &.active {
          &::after {
            content: none;
          }
        }

        &::before {
          background-color: $primary;
          border-color: $primary;
        }

        &::after {
          @include fontawesome(11px, 16px);
          @include special-content('f00c');
          @include white-emphasis($opacity-high-emphasis-white);
          position: absolute;
          left: 50%;
          bottom: 2px;
          transform: translateX(-50%);
          width: 20px;
          text-align: center;
        }
      }
    }

    &::after {
      content: "";
      height: 2px;
      width: calc(100% - 20px);
      position: absolute;
      left: 50%;
      margin-left: 10px;
      bottom: 9px;
      background-color: $primary;
    }

    > a {
      @include black-emphasis(0.6);
      @include subtitle1;
      border: none;
      display: flex;
      flex-flow: column-reverse;
      position: relative;
      padding: 0;
      white-space: nowrap;

      &:hover {
        background-color: transparent;

        &::before {
          height: 20px;
        }
      }

      &.active {
        background-color: transparent;
        color: $primary;

        &::before {
          height: 20px;
          background-color: transparent;
          border-color: $primary;
        }
      }

      &::before {
        @include black-emphasis-color($opacity-low-black);
        border-width: 4px;
        border-radius: 50%;
        box-sizing: border-box;
        height: 20px;
        width: 20px;
        background-color: transparent;
        transition: border 0.2s;
        position: static;
      }
    }

    &:last-of-type::after {
      content: none;
    }
  }
}

/**
  Subtabs
 */
div.nav-subtabs {
  list-style: none;
  display: flex !important;
  line-height: normal;
  clear: right;
  padding: 0;
  margin-bottom: $space*5;
  /*box-shadow : 0px 2px 2px 0px rgba(0, 0, 0, .5);*/
  border-width: 0;
  border-bottom: 1px solid $grey-100;
  top: 55px;
  height: 24px;
  left: 0;
  box-shadow: none;
  background-color: $white;
  z-index: 498;
  border-radius: 0;

  >ul {
    list-style: none;
    display: flex;
    flex: 1 1 auto;
    padding-left: 0;
    justify-content: flex-start;

    >li {
      padding: 0;
      margin: 0;
      background: none;
      display: flex;
      align-items: flex-end;
      flex: 1 1 auto;
      max-width: 250px;

      >span {
        font-size: 11px;
        padding: 0 $space*2;
        margin: 0;
        font-family: inherit;
        cursor: pointer;
        transition: border 0.25s, color 0.25s, background-color .25s;
        height: calc(100% - 4px);
        font-weight: normal;
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        flex: 1 1 auto;
        border-radius: 0px;
        border: 0 solid transparent;
        border-bottom: 4px solid transparent;
        color: $grey-600;

        &.active {
          border-bottom-color: $primary;
          text-decoration: none;
          color: $primary;
        }

        &:hover {
          background-color: alpha($primary, 6%);
          text-decoration: none;
        }
      }
    }
  }

  select {
    margin-bottom: 5px;
  }

  button {
    margin-bottom: 5px;
  }
}

@include not-vue-container {
  ul.control_tabs {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    line-height: normal;
    clear: right;
    padding: 0;
    height: 38px;
    background-color: $white;
    border: 1px solid $grey-300;
    @include border-radius();
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    min-height: 38px;
    box-shadow: none;
    margin-top: $space*2;

    &:-moz-only-whitespace,
    &:empty {
      border: none;
    }

    &:blank  {
      border: none;
    }

    &.me-stepper {
      @include stepper;
    }

    &.me-control-tabs-wraped {
      flex-wrap: wrap;
      height: initial;
      align-items: flex-end;

      > li {
        min-width: 100px;
        height: 38px;
      }
    }

    >li {
      padding: 0;
      margin: 0;
      background: none;
      display: flex;
      align-items: center;
      flex: 1 1 auto;
      color: $grey-600;
      max-width: 250px;
      &.linebreak {
        clear: both;
      }

      &.me-tabs-buttons,
      &.me-tabs-flex,
      &.me-tabs-flex-end {
        max-width: none !important;
        &.me-tabs-buttons {
          max-width: none !important;
          flex-grow: 0;
          order: 100;
        }

        &.me-tabs-flex,
        &.me-tabs-flex-end {
          max-width: none !important;
          flex-grow: 1;
          &.me-tabs-flex-end {
            justify-content: flex-end;
          }
        }
      }

      &.me-tabs-inline-flex {
        max-width: none !important;
        flex: auto 0;
      }

      &.form-tab {
        > a,
        > span {
          background-color: #96bfb0;
        }

        &:hover {
          > a,
          > span {
            background-color: #b1d6c8;
          }
        }
      }

      >a {
        padding: 0 $space*2;
        margin: 0;
        font-family: inherit;
        cursor: pointer;
        transition: border 0.25s, color 0.25s, background-color .25s;
        height: calc(100%);
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        border-width: 0;
        border-bottom-style: solid;
        flex: 1 1 auto;
        color: $grey-600;
        font-size: 13px;
        font-weight: 500;
        position: relative;

        &::before {
          content: '';
          display: block;
          position: absolute;
          bottom: -1px;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: $primary-300;
          transition: background-color .2s ease, height .1s linear;
        }

        &:hover {
          background-color: alpha($primary, 6%);
          text-decoration: none;

          &::before {
            height: 4px;
          }
        }
        &.active,
        &.active.empty,
        &.active {
          text-decoration: none;
          color: $primary;
          background-color: alpha($primary, 13%);
          &::before {
            height: 4px;
            background-color: $primary;
          }
        }
        &:focus {
          outline: 0;
        }
        &[data-count]::after {
          content: " (" attr(data-count) ")";
          font-size: smaller;
        }
        &.empty {
          color: #999999;
        }
        &.wrong {
          color: $warning-color;

          &:hover {
            color: $warning-color;
          }
        }
        &.special {
          color: $green;
          font-weight: 550;

          &:hover {
            color: $green;
          }
        }
        &.cancelled {
          color: $error-color;

          &:hover {
            color: $error-color;
          }
        }
      }
      span {
        &.subtab {
          &:focus {
            outline: 0;
          }
          &.empty {
            color: #999999;
          }
          &.wrong {
            color: $warning-color;

            &:hover {
              color: $warning-color;
            }
          }
          &.special {
            color: $green;
            font-weight: 550;

            &:hover {
              color: $green;
            }
          }
          &.cancelled {
            color: $error-color;

            &:hover {
              color: $error-color;
            }
          }
        }
      }
      button {
        @include not-vue {
          @include tertiary-button();
          @include button-text();

          &.me-secondary {
            @include secondary-button();
          }

          &.me-primary {
            @include primary-button();
          }
        }
      }
      &:first-of-type {
        >a {
          border-top-left-radius: 4px;
        }
      }
      &:last-of-type {
        >a {
          border-top-right-radius: 4px;
        }
      }

      &.control_tabs_fold {
        max-width: initial;
        margin-top: 10px;
        min-width: 17px;
        width: 17px;
        height: 17px;
        flex-grow: 0;
        justify-content: center;
      }

      &.me-tab-composed {
        span {
          padding-left : #{$space  * 2};
        }
      }

      &.me-tab-arrow {
        .me-tab-arrow-left {
          order: 1;
        }
        .me-tab-arrow-center {
          order: 2;
        }
        .me-tab-arrow-right {
          order: 3;
        }
      }
    }

    @include small-tabs;

    >select {
      margin-bottom: 5px;
    }
    >button {
      margin-bottom: 5px;
    }

    #status_cut {
      height: 100% !important;
      box-sizing: border-box;
    }
  }
}


div.main-content {
  @include is-not-vue-container {
    > ul.control_tabs {
      padding-left: 0;
      z-index: 498;
      border-right-width: 0;
      border-left-width: 0;
      border-radius: 0;
      margin-top: -$space;
      height: 42px;
      &.me-control-tabs-wraped {
        height: auto;
      }
      >li {
        >a {
          border-radius: 0;
          border: 0 solid transparent;
          color: $grey-600;

          &:hover,
          &.active {
            color: $primary;
          }
        }

        strong,
        label {
          color: $primary;
        }
      }

      @include small-tabs;
    }
  }
}

@include not-vue-container {
  ul.control_tabs_vertical,
  ul.control_tabs_vertical.small {
    list-style: none;
    line-height: normal;
    clear: right;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 4px;
    background-color: transparent;
    border: 0px solid transparent;
    padding: 16px 0 0 0;
    display: block !important;

    >li {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      background: transparent;
      margin: 0;

      &.linebreak {
        clear: both;
      }

      >a {
        text-decoration: none;
        text-align: right;
        background: none;
        border-width: 0;
        font-size: 12px;
        margin: 0;
        color: $grey-600;
        padding: 8px 10px 8px 8px;
        transition: padding 0.1s, border 0.1s;
        width: 100%;
        position: relative;

        &::before {
          content: '';
          display: block;
          position: absolute;
          right: 0;
          top: 0;
          height: 100%;
          width: 2px;
          background-color: $primary-300;
          transition: background-color .2s ease, width .1s linear;
        }

        &:focus {
          outline: 0;
        }
        &[data-count]:after {
          content: " (" attr(data-count) ")";
          font-size: smaller;
        }
        &.active,
        &.active.empty
        {
          text-align: right;
          border-width: 0;
          font-size: 12px;
          margin: 0;
          color: $primary;
          background-color: alpha($primary, 13%);

          &::before {
            width: 4px;
            background-color: $primary;
          }
        }
        &:hover {
          background-color: alpha($primary, 6%);
          text-decoration: none;

          &::before {
            width: 4px;
          }
        }
        &.empty {
          color: #999999;
        }
        &.wrong {
          color: $warning-color;

          &:hover {
            color: $warning-color;
          }
        }
        &.special {
          color: $green;
          font-weight: 550;

          &:hover {
            color: $green;
          }
        }
        &.cancelled {
          color: $error-color;

          &:hover {
            color: $error-color;
          }
        }
      }
    }
  }
}

table.tab-container {
  margin: 0 auto 0 auto !important;
  > tbody {
    > tr {
      &:first-of-type {
        > td {
          padding-top: $space*2;
        }
      }
      > td,
      > th {
        white-space: normal;
      }
    }
  }
}


.tab-container {
  background: $white;
  border: 1px solid $grey-300 !important;
  border-top: none !important;
  box-sizing: border-box;
  @include border-radius();
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  padding: $space*2;
  width: 100% !important;

  &.layout {
    border: 1px solid $grey-300 !important;
    border-top: none !important;
  }

  table {
    > tbody {
      > tr {
        &:first-of-type {
          >td,
          >th {
            &:first-of-type {
              border-top-left-radius: 0;
              border-left: none;
            }
            &:last-of-type {
              border-top-right-radius: 0;
            }
          }
        }
      }
    }
  }
}

table.tab-container {
  > tbody {
    > tr {
      &:first-of-type {
        >td,
        >th {
          &:first-of-type {
            border-top-left-radius: 0;
            border-left: none;
          }
          &:last-of-type {
            border-top-right-radius: 0;
            border-right: none;
          }
        }
      }

      th,
      td {
        &:first-of-type {
          padding-left: $space;
        }
        &:last-of-type {
          padding-right: $space;
        }
      }
    }
  }
}

tbody.tab-container {
  border: none !important;
}

tr.tab-container {
  > th,
  > td {
    &:first-of-type {
      padding-left: $space;
    }
    &:last-of-type {
      padding-right: $space;
    }
  }
}
