/**
 * @package Mediboard\Style\Mediboard
 * @author  SAS OpenXtrem <dev@openxtrem.com>
 * @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 * @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
 */

// Basic var

// Marges
$space: 4px;
$small-space: 2px;

// Background
$light: #FAFAFA;
$dark: #E8E8E8;
$input-background: #FFFFFF;

// Primary color
$primary: #3F51B5;
$primary-900: #1A237E;
$primary-800: #283593;
$primary-700: #303F9F;
$primary-600: #3949AB;
$primary-500: #3F51B5;
$primary-400: #5C6BC0;
$primary-300: #7986CB;
$primary-200: #9FA8DA;
$primary-100: #C5CAE9;
$primary-50: #E8EAF6;

// Secondary color
$secondary: #0288D1;
$secondary-900: #012d63;
$secondary-800: #013c7e;
$secondary-700: #01579B;
$secondary-600: #0277BD;
$secondary-500: #0288D1;
$secondary-400: #039BE5;
$secondary-300: #03A9F4;
$secondary-200: #29B6F6;
$secondary-100: #81D4FA;
$secondary-50: #B3E5FC;


// White
$white: #FFFFFF;
$opacity-high-emphasis-white: 1;
$opacity-medium-emphasis-white: .7;
$opacity-low-white: .5;
$opacity-very-low-white: .3;

// Others colors
$green-light: #aed581;
$green-medium: #496D49;
$green-dark: #194419;
$blue-light: #707B82;
$blue-medium: #3D4D58;
$blue-dark: #172936;
$brown-light: #CBC4AD;
$brown-medium: #897E5C;
$brown-dark: #554820;
$red-light: #CBADAD;
$red-medium: #895C5C;
$red-dark: #552020;
$orange: #ff9800;
$red: #f44336;
$green: #4caf50;
$blue: #2196f3;
$success-color: #007e34;
$success-color-background: #007e34;
$warning-color: #ff8800;
$warning-color-background: #ff8800;
$info-color: #0099cb;
$info-color-background: #0099cb;
$error-color: #FF3100;
$error-color-background: #FF3100;

// Menu de navigation
$background-header-primary: $primary;
$background-header-secondary: $primary;

// Bandeau patient
$primary-bandeau: $primary;
$secondary-bandeau: $primary-400;

// SVG Icones
$list-ul-solid: 'data:image/svg+xml;utf8,<svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M384 1408q0 80-56 136t-136 56-136-56-56-136 56-136 136-56 136 56 56 136zm0-512q0 80-56 136t-136 56-136-56-56-136 56-136 136-56 136 56 56 136zm1408 416v192q0 13-9.5 22.5t-22.5 9.5h-1216q-13 0-22.5-9.5t-9.5-22.5v-192q0-13 9.5-22.5t22.5-9.5h1216q13 0 22.5 9.5t9.5 22.5zm-1408-928q0 80-56 136t-136 56-136-56-56-136 56-136 136-56 136 56 56 136zm1408 416v192q0 13-9.5 22.5t-22.5 9.5h-1216q-13 0-22.5-9.5t-9.5-22.5v-192q0-13 9.5-22.5t22.5-9.5h1216q13 0 22.5 9.5t9.5 22.5zm0-512v192q0 13-9.5 22.5t-22.5 9.5h-1216q-13 0-22.5-9.5t-9.5-22.5v-192q0-13 9.5-22.5t22.5-9.5h1216q13 0 22.5 9.5t9.5 22.5z" opacity="0.2"/></svg>';

@mixin white-emphasis($emphasis, $important: false) {
  color: rgba(255, 255, 255, $emphasis) if($important, !important, null);
}
@mixin white-emphasis-border($emphasis, $important: false) {
  border: 1px solid rgba(255, 255, 255, $emphasis) if($important, !important, null);
}

// Black
$black: #000000;
$opacity-high-emphasis-black: .96;
$opacity-medium-emphasis-black: .80;
$opacity-low-black: .38;
$opacity-very-low-black: .1;

@mixin black-emphasis($emphasis, $important: false) {
  color: rgba(0, 0, 0, $emphasis) if($important, !important, null);
}

@mixin black-emphasis-background($emphasis) {
  background-color: rgba(0, 0, 0, $emphasis);
}

@mixin black-emphasis-color($emphasis, $important: false) {
  border: 1px solid rgba(0, 0, 0, $emphasis) if($important, !important, null);
}

// Convert Hex color value to rgba
@function alpha($hexcolor, $opacity: 1) {
  @return rgba($hexcolor, $opacity);
}

// Nuances de grey
$grey-primary: #263238;
$grey-900: #263238;
$grey-800: #37474F;
$grey-700: #455A64;
$grey-600: #546E7A;
$grey-500: #607D8B;
$grey-400: #78909C;
$grey-300: #90A4AE;
$grey-200: #B0BEC5;
$grey-100: #CFD8DC;
$grey-75: #DDE3E6;
$grey-50: #ECEFF1;

// Font
$font-family: 'Roboto';
$font-weight-light: 300;
$font-weight-regular: normal;
$font-weight-medium: 500;

@mixin h1 {
  font-family: inherit;
  font-weight: $font-weight-light;
  font-size: 80px;
  letter-spacing: -1.5px;
  line-height: 112px;
}

@mixin h2 {
  font-family: inherit;
  font-weight: $font-weight-light;
  font-size: 54px;
  letter-spacing: -0.5px;
  line-height: 70px;
}

@mixin h3 {
  font-family: inherit;
  font-weight: $font-weight-regular;
  font-size: 42px;
  letter-spacing: 0;
  line-height: 56px;
}

@mixin h4 {
  font-family: inherit;
  font-weight: $font-weight-regular;
  font-size: 28px;
  letter-spacing: .25px;
  line-height: 40px;
}

@mixin h5 {
  font-family: inherit;
  font-weight: $font-weight-regular;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 28px;
}

@mixin h6 {
  font-family: inherit;
  font-weight: $font-weight-medium;
  font-size: 14px;
  letter-spacing: .15px;
  line-height: 18px;
}

@mixin body1 {
  font-family: inherit;
  font-weight: $font-weight-regular;
  font-size: 13px;
  letter-spacing: .5px;
  line-height: 23px;
}

@mixin body2 {
  font-family: inherit;
  font-weight: $font-weight-regular;
  font-size: 11px;
  letter-spacing: .25px;
  line-height: 17px;
}

@mixin subtitle1 {
  font-family: inherit;
  font-weight: $font-weight-regular;
  font-size: 12px;
  letter-spacing: .15px;
  line-height: 21px;
}

@mixin subtitle2 {
  font-family: inherit;
  font-weight: $font-weight-medium;
  font-size: 11px;
  letter-spacing: 0;
  line-height: 21px;
}

@mixin button-text {
  font-family: inherit;
  font-weight: $font-weight-medium;
  font-size: 11px;
  letter-spacing: 0.75px;
  line-height: 24px;
  white-space: nowrap;
}

@mixin caption {
  font-family: inherit;
  font-weight: $font-weight-regular;
  font-size: 11px;
  letter-spacing: .4px;
  line-height: 16px;
}

@mixin overline($uppercase: true) {
  font-family: inherit;
  font-weight: $font-weight-medium;
  font-size: 10px;
  letter-spacing: 1.5px;
  line-height: 16px;
  @if $uppercase {
    text-transform: uppercase;
  }
}

// Shadows
$shadow-dark: rgba(0, 0, 0, 0.2);
$shadow-medium: rgba(0, 0, 0, 0.14);
$shadow-light: rgba(0, 0, 0, 0.12);

// Bandeau de qualif
$ribbon-color: #d32f2f;

// Gestion de IE
@mixin ie() {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @content;
  }
}

@mixin shadow0 {
  border: 1px solid $grey-100;
}

@mixin card-border($color : $grey-300) {
  box-shadow: 0 0 0 1px $color;
  @include ie {
    border: 1px solid $color;
  }
}

@mixin shadow1 {
  box-shadow: 0 1px 3px $shadow-dark, 0 2px 2px $shadow-light, 0 0 2px $shadow-medium;
}

@mixin shadow2 {
  box-shadow: 0 1px 5px $shadow-dark, 0 3px 4px $shadow-light, 0 2px 4px $shadow-medium;
}

@mixin realShadow2 {
  box-shadow: 0 1px 5px $shadow-dark, 0 3px 4px $shadow-light, 0 2px 4px $shadow-medium;
}

@mixin shadow3 {
  box-shadow: 0 1px 8px $shadow-dark, 0 3px 4px $shadow-light, 0 3px 3px $shadow-medium;
}

@mixin shadow4 {
  box-shadow: 0 1px 10px $shadow-dark, 0 4px 5px $shadow-light, 0 2px 4px $shadow-medium;
}

@mixin realShadow4 {
  box-shadow: 0 1px 10px $shadow-dark, 0 4px 5px $shadow-light, 0 2px 4px $shadow-medium;
}

@mixin shadow6 {
  box-shadow: 0 3px 5px $shadow-dark, 0 1px 18px $shadow-light, 0 6px 10px $shadow-medium;
}

@mixin shadow8 {
  box-shadow: 0 4px 5px $shadow-dark, 0 3px 14px $shadow-light, 0 8px 10px $shadow-medium;
}

@mixin shadow9 {
  box-shadow: 0 5px 6px $shadow-dark, 0 3px 16px $shadow-light, 0 9px 12px $shadow-medium;
}

@mixin shadow12 {
  box-shadow: 0 7px 8px $shadow-dark, 0 5px 22px $shadow-light, 0 12px 17px $shadow-medium;
}

@mixin shadow16 {
  box-shadow: 0 8px 10px $shadow-dark, 0 6px 30px $shadow-light, 0 16px 24px $shadow-medium;
}

@mixin shadow24 {
  box-shadow: 0 11px 15px $shadow-dark, 0 9px 46px $shadow-light, 0 24px 38px $shadow-medium;
}

@mixin border-radius($radius: 4px) {
  border-radius: $radius;
}

@mixin fontawesome($font-size, $line-height) {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-style: normal;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin custom-background-cover {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('images/pictures/bg.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(4px);
  transform: scale(1.1);
  overflow: hidden;

  &.me-bg-custom {
    background-image: url('../../images/pictures/bg_custom.jpg');
  }
}

// Ripple effect
@mixin ripple-effect-base {
  overflow: hidden;
  position: relative;
  transform: translate3d(0, 0, 0);
}
@mixin ripple-effect-element($color) {
  content: " ";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle,$color 10%,transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10,10);
  opacity: 0;
  transition: transform .5s,opacity 1s;
}
@mixin ripple-effect-undo {
  &::after {
    display: inline-block;
    width: auto;
    height: auto;
    top: auto;
    left: auto;
    pointer-events: auto;
    background: none;
    transform: none;
    opacity: 1;
    transition: none;
    position: inherit;
  }
  &.active::after {
    opacity: 1;
    transition: inherit;
    transform: none;
  }
}
@mixin ripple-effect-element-active {
  transform: scale(0,0);
  opacity: .2;
  transition: 0s;
}

@mixin ripple-effect($color : #000) {
  @include ripple-effect-base();
  &::after {
    @include ripple-effect-element($color);
  }
  &:active::after {
    @include ripple-effect-element-active();
  }
}

@mixin ripple-effect-before($color : #000) {
  @include ripple-effect-base();
  &::before {
    @include ripple-effect-element($color);
  }
  &:active::before {
    @include ripple-effect-element-active();
  }
}

@mixin special-content($content) {
  content: #{'"\\' + $content + '"'}
}

// Replace $search by $replace in $string
@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

// Ampoules
$color_ampoule         : #C0A005;
$color_ampoule_blue    : #1976d2;
$color_ampoule_green   : #24AA24;
$color_ampoule_rose    : #AA2570;
$color_ampoule_grey    : $grey-300;
$color_ampoule_urgence : #D43E2E;
$color_ampoule_violet  : #9c27b0;

@mixin nav-menu-displayed {
  animation-name: NavShowAnimation;
  animation-duration: .125s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  display: block;
  margin-top: 0;
  z-index: 500;
}

@mixin modal-animation {
  animation-name: modalAnimation;
  animation-duration: .1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}


// Buttons
@mixin secondary-button() {
  @include button-text();
  border: 1px solid $primary;
  color: $primary;
  &:not([style*="color:"]) {
    color: $primary;
  }
  background-color: transparent;
  box-shadow: none;
  opacity: 1;

  background-image: none;
  height: 26px;
  min-width: 26px;
  border-radius: 16px;
  cursor: pointer;
  font-size: 11px;
  transition: background 0.25s, opacity 0.25s;
  //text-transform: uppercase;
  padding: 0 $space;
  margin: 0 #{$space};

  &.notext,
  &.me-notext {
    letter-spacing: 0;
  }

  &::before {
    color: $primary;
  }

  &:hover,
  &:focus {
    background-color: alpha($primary, .1);
    text-decoration: none;
    background-image: none;
  }
}

@mixin primary-button() {
  @include button-text();
  @include shadow1();
  background-color: $primary;
  color: $white;
  &:not([style*="color:"]) {
    color: $white;
  }

  border-color: $primary;
  &:hover,
  &:focus {
    background-color: $primary-400;
    border-color: $primary-400;
  }
  &::before, &::after,
  &.notext,
  &.me-notext {
    letter-spacing: 0;
  }

  &::before {
    color: $white;
  }
}
@mixin tertiary-low-emphasis() {
  opacity: .32 !important;
  transition: opacity .25s;

  &:hover {
    opacity: 1 !important;
  }
}
@mixin tertiary-button() {
  box-shadow: none;
  margin: 0 #{$small-space};
  text-transform: none;
  background: transparent;
  color: $secondary-500;
  border-width: 0;

  &:not([style*="color:"]) {
    color: $secondary-500;
  }

  &.me-dark {
    @include tertiary-button-dark;
  }

  &.me-low-emphasis {
    @include tertiary-low-emphasis();
  }

  &::before {
    color: $secondary-500;
    line-height: 22px;
  }

  &:hover,
  &:focus {
    background: alpha($secondary-600, 8%);
    text-decoration: none;
  }

  &.toggled {
    background: alpha($secondary-600, 16%);
  }

  &.notext,
  &.me-notext {
    //Ceci permet d'avoir des boutons ronds dans la liste des evenements patient.
    //Si il faut le modifier, bien verifier qu'on casse pas ces boutons
    padding: 0;
  }

  i {
    background-color: transparent !important;
    color: $secondary-500;

    &:not([style*="color:"]) {
      color: $secondary-500 !important;
    }
  }
}

@mixin tertiary-button-dark {
  color: $grey-600;
  border-color: $grey-600;
  &::before {
    color: $grey-600;
  }

  &+ span.countertip {
    position: absolute;
    margin-top: -2px !important;
    margin-left: -10px !important;
    background-color: transparent;
    border: 1px solid $grey-600;
    color: $grey-600;
    width: 12px;
    height: 12px;
    line-height: 12px;
  }
}

@mixin light-button() {
  &.me-tertiary,
  &.me-tertiary.me-dark {
    color: $secondary-100 !important;

    &::before {
      color: $secondary-100 !important;
    }

    i {
      background-color: transparent !important;
      color: $secondary-100;

      &:not([style*="color:"]) {
        color: $secondary-100 !important;
      }
    }
  }
  &,
  &.me-secondary {
    color: $secondary-100 !important;
    border-color: $secondary-100 !important;
    background-color: transparent !important;

    &::before {
      color: $secondary-100 !important;
    }
  }
  &.me-primary,
  &.add {
    background-color: $secondary-100 !important;
    color: $primary !important;

    &::before {
      color: $primary !important;
    }
  }
  &:not([style*="color:"]) {
    color: $secondary-100;
  }
}

@mixin white-button() {
  &.me-primary,
  &.add {
    background-color: #FFFFFF;
    color: $primary;

    &::before {
      color: $primary;
    }

    &:not([style*="color:"]) {
      color: $primary;
    }

    &:hover {
      background-color: #FFFFFF;
    }
  }
  &.me-tertiary,
  &.me-tertiary.me-dark {
    color: #FFFFFF;
    background-color: transparent;
    border: 1px solid #FFFFFF;

    &::before {
      color: #FFFFFF;
    }

    &:not([style*="color:"]) {
      color: #FFFFFF;
    }

    i {
      background-color: transparent;
      color: #FFFFFF;
    }

    &:not([style*="color:"]) {
      color: #FFFFFF;
    }
  }
  &,
  &.me-secondary {
    color: #FFFFFF;
    border-color: #FFFFFF;
    background-color: transparent;

    &::before {
      color: #FFFFFF;
    }
  }
  &:not([style*="color:"]) {
    color: #FFFFFF;
  }
}

// Gestion des icones
@mixin button-icon($content) {
  &.rtl::after,
  &::before {
    @include special-content($content);
  }
}
@mixin icons() {
  &.cancel,
  &.close {
    @include button-icon("f00d");
  }
  &.info {
    @include button-icon("f05a");
  }
  &.logout {
    @include button-icon("f2f5");
  }
  &.thumb {
    @include button-icon("f164");
  }
  &.target {
    @include button-icon("f192");
  }
  &.rss {
    @include button-icon("f09e");
  }
  &.copy {
    @include button-icon("f0c5");
  }
  &.duplicate {
    @include button-icon("f24d");
  }
  &.bug {
    @include button-icon("f188");
  }
  &.cleanup {
    @include button-icon("f51a");
  }
  &.agenda {
    @include button-icon("f073");
  }
  &.phone {
    @include button-icon("f095");
  }
  &.phone-alt {
    @include button-icon("f879");
  }
  &.stats {
    @include button-icon("f080");
  }
  &.cut {
    @include button-icon("f0c4");
  }
  &.edit {
    @include button-icon("f044");
  }
  &.hslip {
    @include button-icon("f362");
  }
  &.vslip {
    @include button-icon("f338");
  }
  &.trash {
    @include button-icon("f1f8");
  }
  &.submit {
    @include button-icon("f0c7");
  }
  &.consultation {
    @include button-icon("f0f1");
  }
  &.consultation_create {
    @include multiple-button-icon("f0f1", "f067");
  }
  &.sejour_create {
    @include multiple-button-icon("f236", "f067");
  }
  &.accouchement_create {
    @include multiple-button-icon("f1ae", "f067");
  }
  &.grossesse {
    @include button-icon("f182");
  }
  &.grossesse_create {
    @include multiple-button-icon("f182", "f067");
  }
  &.new {
    @include button-icon("f067");
  }
  &.print {
    @include button-icon("f02f");
  }
  &.printPDF,
  &.pdf {
    @include button-icon("f1c1");
  }
  &.pagelayout {
    @include button-icon("f0db");
  }
  &.user {
    @include button-icon("f007");
  }
  &.function {
    @include button-icon("f0c0");
  }
  &.carriage_return {
    @include button-icon("f064");
    &.rtl::after,
    &::before {
      transform: scaleY(-1) scaleX(-1);
    }
  }
  &.mail {
    @include button-icon("f0e0");
  }
  &.modify {
    @include button-icon("f304");
  }
  &.save {
    @include button-icon("f0c7");
  }
  &.search {
    @include button-icon("f002");
  }
  &.lookup {
    @include button-icon("f1e5");
  }
  &.mediuser_black {
    @include button-icon("f406");
  }
  &.lock {
    @include button-icon("f023");
  }
  &.unlock {
    @include button-icon("f3c1");
  }
  &.tick {
    @include button-icon("f00c");
  }
  &.tick_cancel {
    @include button-icon("f00d");
  }
  &.archive {
    @include button-icon("f1c6");
  }
  &.down {
    @include button-icon("f078");
  }
  &.up {
    @include button-icon("f077");
  }
  &.left,
  &.left-disabled {
    @include button-icon("f053");
  }
  &.right,
  &.right-disabled {
    @include button-icon("f054");
  }
  &.rotate_left {
    @include button-icon("f0e2");
  }
  &.rotate_right {
    @include button-icon("f01e");
  }
  &.change {
    @include button-icon("f2f1");
  }
  &.add,
  &.me-add {
    @include button-icon("f067");
  }
  &.remove {
    @include button-icon("f068");
  }
  &.stop {
    @include button-icon("f256");
  }
  &.warning {
    @include button-icon("f071");
  }
  &.send {
    @include button-icon("f1d8");
  }
  &.send-cancel {
    @include multiple-button-icon("f1d8", "f00d");
  }
  &.send-problem {
    @include multiple-button-icon("f1d8", "f12a");
  }
  &.send-auto {
    @include multiple-button-icon("f1d8", "f2ea");
  }
  &.send-again {
    @include multiple-button-icon("f1d8", "f2f1");
  }
  &.vcard {
    @include button-icon("f2c2");
  }
  &.merge {
    @include multiple-button-icon("f054", "f053");
  }
  &.barcode {
    @include button-icon("f02a");
  }
  &.multiline {
    @include button-icon("f0c9");
  }
  &.singleline {
    @include button-icon("f068");
  }
  &.erase {
    @include button-icon("f12d");
  }
  &.new-lightning {
    @include button-icon("f0e7");
  }
  &.undo {
    @include button-icon("f0e2");
  }
  &.tag {
    @include button-icon("f02b");
  }
  &.tag-edit {
    @include button-icon("f02b");
  }
  &.tag-delete {
    @include multiple-button-icon("f02b", "f1f8");
  }
  &.tag-add {
    @include multiple-button-icon("f02b", "f067");
  }
  &.tag-arrow {
    @include multiple-button-icon("f02b", "f061");
  }
  &.tag-warning {
    @include multiple-button-icon("f02b", "f12a");
  }

  &.formula {
    @include button-icon("f12b");
  }
  &.loading {
    @include button-icon("f110");
    &.rtl::after,
    &::before {
      animation-name: rotationAnimation;
      animation-iteration-count: infinite;
      animation-duration: 1s;
      animation-timing-function: linear;
    }
  }
  &.list {
    @include button-icon("f0ca");
  }
  &.history {
    @include button-icon("f1da");
  }
  &.brancard {
    @include button-icon("f236");
  }
  &.zoom-in {
    @include button-icon("f00e");
  }
  &.zoom-out {
    @include button-icon("f010");
  }
  &.forms {
    @include button-icon("f570");
  }
  &.select-all {
    @include button-icon("f560");
  }
  &.clock {
    @include button-icon("f017");
  }
  &.door-in {
    @include button-icon("f2f5");
  }
  &.door-out {
    @include button-icon("f2f6");
  }
  &.download {
    @include button-icon("f019");
  }
  &.upload {
    @include button-icon("f093");
  }
  &.thumbnails {
    @include button-icon("f24d");
  }
  &.help {
    @include button-icon("f128");
  }
  &.deficience {
    @include button-icon("f193");
  }
  &.link {
    @include button-icon("f0c1");
  }
  &.unlink {
    @include button-icon("f127");
  }
  &.play {
    @include button-icon("f04b");
  }
  &.pause {
    @include button-icon("f04c");
  }
  &.media_stop {
    @include button-icon("f04d");
  }
  &.comment {
    @include button-icon("f075");
  }
  &.calcul {
    @include button-icon("f1ec");
  }
  &.bookmark {
    @include button-icon("f02e");
  }
  &.idex {
    @include button-icon("f0cb");
  }
  &.header_footer {
    @include button-icon("f570");
  }
  &.switch {
    @include button-icon("f074");
  }
  &.reboot {
    @include button-icon("f01e");
  }
  &.drawing {
    @include button-icon("f5ae");
  }
  &.magic_wand {
    @include button-icon("f0d0");
  }
  &.prestation {
    @include button-icon("f005");
  }
  &.soins {
    @include button-icon("f484");
  }
  &.glob {
    @include button-icon("f7a2");
  }
  &.back-forward {
    @include button-icon("f337");
  }
  &.dice {
    @include button-icon("f522");
  }
  &.checklist {
    @include button-icon("f0ae");
  }
  &.favoris {
    @include button-icon("f005");
  }
  &.import {
    @include button-icon("f56f");
  }
  &.opt {
    @include button-icon("f142");
  }
  &.opt-h {
    @include button-icon("f141");
  }
  &.share {
    @include button-icon("f1e0");
  }
  &.modele_etiquette {
    @include button-icon("f0ce");
  }
  &.glob {
    @include button-icon("f0ac");
  }
  &.eye {
    @include button-icon("f06e");
  }
  &.anonyme {
    @include multiple-button-icon("f007", "f128");
  }
  &.personnel {
    @include button-icon("f007");
  }
  &.palette {
    @include button-icon("f53f");
  }
  &.injection {
    @include button-icon('f48e');
  }
  &.settings {
    @include button-icon('f013');
  }
  &.caret-right {
    @include button-icon('f0da');
  }
  &.caret-left {
    @include button-icon('f0d9');
  }
  &.caret-down {
    @include button-icon('f0d7');
  }
  &.database {
    @include button-icon('f1c0');
  }
  &.arrow-left {
    @include button-icon('f060');
  }
  &.arrow-right {
    @include button-icon('f061');
  }
  &.arrow-down {
    @include button-icon('f063');
  }
  &.play-circle {
    @include button-icon('f144');
  }
  &.pause-circle {
    @include button-icon('f28b');
  }
  &.stop-circle {
    @include button-icon('f28d');
  }
  &.group {
    @include button-icon('f1ad');
  }
  &.paperclip {
    @include button-icon('f0c6');
  }
  &.circle {
    @include button-icon('f111');
  }
  &.cross-circle {
    @include button-icon('f057');
  }
  &.toolbox {
    @include button-icon('f552');
  }
  &.compress {
    @include button-icon('f066');
  }
  &.expand {
    @include button-icon('f065');
  }
  &.mail-apicrypt {
    &.rtl::after,
    &::before {
      content: url('images/buttons/mailApicrypt.png');
    }
  }
  &.mail-mssante {
    &.rtl::after,
    &::before {
      content: url('images/buttons/mailMSSante.png');
    }
  }
}

@mixin icons_image() {
  &.ipp_nda,
  &.dmp-creer,
  &.dmp-alimenter,
  &.dmp-consulter,
  &.dmp-modifier,
  &.dmp-supprimer,
  &.appFine,
  &.appFine_yellow,
  &.appFine-created,
  &.labo,
  &.cato,
  &.uml,
  &.digitalpen,
  &.dmi,
  &.ecap,
  &.customer,
  &.incident,
  &.knowledge,
  &.prospect,
  &.patientMonitoring,
  &.prm,
  &.recipe,&.sisra-alimenter,
  &.softway,
  &.trajectoire,
  &.unilabs,
  &.dmi_vivalto,
  &.web100T,
  &.mail-apicrypt,
  &.mail-mssante,
  &.gantt,
  &.tlsi {
    &::before {
      line-height: 12px !important;
      vertical-align: middle !important;
    }
  }
}


@mixin multiple-button-icon($content, $content2) {
  &.rtl::after,
  &::before {
    font-size: 11px;
    content: #{'"\\' + $content + ' \\' + $content2 + '"'};
  }

  &.me-btn-small {
    &.rtl::after,
    &::before {
      font-size: 9px;
    }
  }
}

@mixin me-btn-small() {
  &::before {
    font-size: 11px;
    padding: 0 !important;
  }
  &::after {
    content: none;
  }

  margin: 0 !important;
  padding: 0 !important;
  width: 16px !important;
  min-width: 16px !important;
}

@mixin me-form-btn-small() {
  &::before {
    font-size: 11px !important;
    padding: 0 !important;
    margin-right: 1px !important;
    line-height: 20px !important;
  }

  &.notext,
  &.me-notext {
    width: 20px !important;
    &::before {
      line-height: 18px !important;
    }
  }

  height: 20px !important;
  line-height: 14px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  min-width: 20px !important;
}

@mixin me-button-lighter {
  &:not(.me-primary):not(.me-tertiary) {
    color: $primary-50 !important;
    border-color: $primary-50 !important;

    &::before {
      color: $primary-50 !important;
    }
  }
  &.me-tertiary {
    color: $secondary-50 !important;

    &::before {
      color: $secondary-50 !important;
    }
  }
}

// me-form-group label
@mixin label-placeholder() {
  @include subtitle1;
  @include black-emphasis(0.6);
  cursor: text;
  position: absolute;
  top: #{$small-space*3};
  left: #{$space + 2px};
  transition: 0.2s;
  background: transparent;

  &.notNull {
    color: $error-color !important;
  }
  &.notNullOK {
    color: $success-color !important;
  }
}

@mixin label-small($extra-top: 0px) {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 40%, $white 40%, $white 100%);
  position: absolute;
  display: block;
  padding: 0 #{$small-space*2} 0 #{$small-space*2};
  top: -#{$small-space*4 + $extra-top};
  left: ($space*2 - $small-space);
  transition: 0.2s;
  @include caption();
  @include black-emphasis(0.6);
  @include border-radius();

  &.notNull {
    padding: 0 #{$small-space*2} 0 #{$small-space*2};
    color: $error-color !important;
  }
  &.notNullOK {
    padding: 0 #{$small-space*2} 0 #{$small-space*2};
    color: $success-color !important;
  }
}

@mixin disabled-label() {
  @include black-emphasis(0.3);
  &.notNull {
    color: alpha($error-color, 0.38) !important;
  }
  &.notNullOK {
    color: alpha($success-color, 0.38) !important;
  }
}

@mixin checkbox-style() {
  border-radius: 3px;
  width: 16px;
  height: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid rgba(0, 0, 0, $opacity-low-black);
  box-sizing: border-box;
  background: $white;
  cursor: pointer;
  transition: background-color .2s, border-color .2s;

  &:disabled {
    opacity: .5;
    filter: grayscale(.5);
    cursor: not-allowed;
  }
}

@mixin small-checkbox() {
  width: 14px;
  height: 14px;
  border-radius: 2px;

  &::after {
    font-size: 8px;
    line-height: 10px;
  }
}

@mixin small-radio() {
  width: 14px;
  height: 14px;

  &:checked {
    border: 5px solid $primary;
  }
}

@mixin small-input {
  height: auto !important;
  padding-top: 1px !important;
  padding-bottom: 1px !important;
  padding-left: $small-space !important;
  font-size: 11px;
  line-height: normal;
  @include border-radius(3px);
}

@mixin small-texterea {
  padding-top: 1px !important;
  padding-bottom: 1px !important;
  padding-left: $small-space !important;
  font-size: 11px;
  line-height: normal;
  @include border-radius(3px);
}

@mixin small-select {
  padding: 0 12px 0 $small-space !important;
  height: auto !important;
  font-size: 11px;
  line-height: normal;
  background-size: 8px;
  background-position: center right 2px;
  @include border-radius(3px);

  option {
    line-height: normal;
    font-size: 11px;
  }
}

@mixin small-numeric-field($form: true) {
  td {
    padding: 0 !important;

    input {
      padding-right: 12px;
    }
  }
  .up,
  .down {
    font-size: 12px;
    line-height: 8px;
    background-color: #FFF;
    width: 14px;
    @include black-emphasis-color($opacity-low-black);
    position: relative;
    text-align: center;

    &:hover {
      background-color: alpha($primary-50) !important;
    }
  }

  td.arrows {
    right: -4px;
  }
  .up {
    @if $form {
      margin-top: -1px;
    }
    border-bottom: none;
  }
}

@mixin me-textarea() {
  @include border-radius();
  @include subtitle1;
  @include black-emphasis-color($opacity-low-black);
  padding: #{$space} #{$space} #{$space} #{$space+2px};
  background-color: transparent;
  transition: border-color 0.2s;
  box-sizing: border-box;
  overflow-x: hidden;
  resize: none;
  min-height: 31px;
  margin: 1px;

  &[style*="height"] {
    margin-bottom: -1px;
  }

  &:focus {
    border: 2px solid $primary;
    outline: none;
    margin: 0;
  }

  @include ie {
    resize: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
  }
}

@mixin me-select-multiple {
  background: none;
  padding: $space*2 0 $space 0;

  option {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    padding: $space;
    @include subtitle1();
    outline: none;

    &::before {
      display: inline-block;
      @include fontawesome(12px, normal);
      @include special-content('f00c');
      margin: 0 $space 0 0;
      @include white-emphasis($opacity-high-emphasis-white);
      visibility: hidden;
    }

    &:checked {
      &::before {
        visibility: visible;
      }
    }
  }

  &:focus {
    option {
      &:checked {
        background: $primary linear-gradient(0deg, $primary 0%, $primary 100%);
        &::before {
          @include white-emphasis($opacity-high-emphasis-white);
        }
      }
    }
  }

  &.me-small {
    padding: 0 $space*2 0 0 !important;

    option {
      line-height: normal;
      font-size: 11px;
      padding: 0 6px 0 0;
    }

  }
}

@mixin me-table-card-base() {
  position: relative;
  tr {
    &:first-of-type {
      th:not(.title) {
        @include h6();
        @include black-emphasis($opacity-high-emphasis-black);
        padding-left: $space;
        background-color: alpha($grey-50, 50%);
      }
    }

    &:hover {
      td {
        background-color: initial !important;
      }
    }
  }
}

@mixin dmp-existence-tertiary {
  &.dmp-existence-0 {
    background-color: alpha($error-color, .25) !important;
    &:hover {
      border: none !important;
    }
  }
  &.dmp-existence-1 {
    background-color: alpha($warning-color, .25) !important;
    &:hover {
      border: none !important;
    }
  }
  &.dmp-existence-2,
  &.dmp-existence-3,
  &.dmp-existence-4 {
    background-color: alpha($success-color, .25) !important;
    &:hover {
      border: none !important;
    }
  }
}

@mixin dmp-existence-secondary{
  &.dmp-existence-0 {
    border: 1px solid $error-color !important;
    &:hover {
      border: 1px solid $error-color !important;
      background-color: alpha($error-color, 15%) !important;
    }
  }
  &.dmp-existence-1 {
    border: 1px solid $warning-color !important;
    &:hover {
      border: 1px solid $warning-color !important;
      background-color: alpha($warning-color, 15%) !important;
    }
  }
  &.dmp-existence-2,
  &.dmp-existence-3,
  &.dmp-existence-4 {
    border: 1px solid $success-color !important;
    &:hover {
      border: 1px solid $success-color !important;
      background-color: alpha($success-color, 15%) !important;
    }
  }
}

@mixin white-note {
  >.me-note-icon {
    &::before {
      opacity: 1;
    }
    &.me-note-transparent {
      &::before {
        color: rgba(255, 255, 255, $opacity-high-emphasis-white) !important;
        opacity: .8;
      }

      &:hover::before {
        opacity: 1;
      }
    }
  }
}

@mixin white-context {
  color: rgba(255, 255, 255, $opacity-high-emphasis-white);

  border-bottom-color: $primary-200;

  button,
  button[type=button],
  button[type=submit],
  a.button,
  a.me-button {
    @include not-vue {
      @include white-button;
    }
  }

  a:link, a:visited, a:active, a:hover {
    color: rgba(255, 255, 255, $opacity-high-emphasis-white);
  }

  .me-note {
    @include white-note;
  }

  .texticon {
    background-color: rgba(255, 255, 255, $opacity-high-emphasis-white);
  }

  i.me-icon::before {
    color: rgba(255, 255, 255, $opacity-high-emphasis-white);
  }

  select {
    color: rgba(255, 255, 255, $opacity-high-emphasis-white);
    border-color: rgba(255, 255, 255, $opacity-medium-emphasis-white);
    background-image: url('images/icons/caret-down-solid-white.svg');
    background-color: alpha(#FFF, 15%);

    option {
      @include black-emphasis($opacity-high-emphasis-black);
    }
  }

  input {
    &[type="text"],
    &[type="email"],
    &[type="number"],
    &[type="password"],
    &[type="search"],
    &[type="tel"],
    &[type="url"] {
      border-color: rgba(255, 255, 255, $opacity-medium-emphasis-white);
      color: rgba(255, 255, 255, $opacity-high-emphasis-white);
      background-color: alpha(#FFF, 15%);

      &:focus {
        border-color: $primary-50;
      }

      &::placeholder {
        color: rgba(255, 255, 255, $opacity-low-white) !important;
      }
    }
  }

  div.dropdown {
    &::before {
      border: 2px solid alpha(white, $opacity-very-low-white);
    }

    &.throbbing {
      &::before,
      &::after{
        border: 2px solid alpha(white, $opacity-very-low-white);
      }
    }

    div.autocomplete {
      @include black-emphasis($opacity-high-emphasis-black);
    }
  }

  div.dropdown-trigger div::before {
    color: alpha(#FFFFFF, $opacity-low-white);
  }

  div.dropdown-trigger div:hover::before,
  .dropdown input:focus + * + div.dropdown-trigger div::before {
    color: alpha(#FFFFFF, $opacity-medium-emphasis-white);
  }

  div.me-form-group {
    &.me-form-icon {
      &::before{
        color: rgba(255, 255, 255, $opacity-low-white);
      }
    }
  }
}

@mixin note-light {
  .me-note {
    > .me-note-icon {
      &.me-note-red::before {
        color: #ff5b4d;
      }
      &.me-note-orange::before {
        color: #ffc400;
      }
      &.me-note-green::before {
        color: #b2ff59;
      }
    }
  }
}

// Responsive
@mixin small-screen {
  @media only screen and (max-width: 800px) {
    @content;
  }
}

/**
  Compatibilite Vue
 */

@mixin not-vue() {
  &:not([class^="v-"]) {
    @content;
  }
}
@mixin vue() {
  &[class^="v-"] {
    @content;
  }
}
@mixin not-vue-container() {
  *:not([class^="v-"]):not([class^="accent--text"]) {
    @content;
  }
}

@mixin is-not-vue-container() {
  &:not([class^="v-"]):not([class^="accent--text"]) {
    @content;
  }
}
