body {
  /**
   * Vuetify's impact on MBD patch
   */
  *, ::before, ::after {
    box-sizing: content-box;
    -moz-osx-font-smoothing: initial !important;
  }

  .v-application {
    *, ::before, ::after {
      box-sizing: border-box;
      -moz-osx-font-smoothing: grayscale !important;
    }
  }

  /**
   * V-APP
   */
  .v-application--wrap {
    height: 100%;
    min-height: unset;
  }
}
