<!--
 @package Mediboard\Installation
 @author  SAS OpenXtrem <dev@openxtrem.com>
 @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<template>
  <div class="INValueDatetime">
    {{ datetime(field) }}
  </div>
</template>

<script src="./INValueDatetime.ts" lang="ts"></script>
