/**
 * @package Mediboard\Installation
 * @author  SAS OpenXtrem <dev@openxtrem.com>
 * @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 * @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
 */
@import '../../INUtils';

.INValueString {
  position: relative;
  &-breakableField {
    word-break: break-word;
  }
  &-allBreakableField {
    word-break: break-all;
  }
  &-complete_field {
    position: absolute;
    top: 50%;
    left: 50%;
    word-break: break-all;
    background: white;
    box-sizing: border-box;
    padding: $xlarge-space;
    border: 1px solid $grey-100;
    width: 150%;
    z-index: 3;
    transform: translateY(-50%) translateX(-50%);
    width: 150%;
    height: auto;
    min-height: 100%;
    border: $border-radius;
    @include shadow2();


    &.install-field-pop-enter-active {
      transition: width .1s, max-height .1s, opacity .2s;
    }
    &.install-field-pop-leave-active {
      transition: width .1s, max-height .1s, opacity .2s;
    }

    &.install-field-pop-enter,
    &.install-field-pop-leave-to{
      width: 100%;
      height: 100%;
      max-height: 100%;
      opacity: 0;
    }


    &.install-field-pop-enter-to,
    &.install-field-pop-leave {
      width: 150%;
      height: auto;
      max-height: 150%;
      opacity: 1;
    }
  }


  &-long_field {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .1);
  }

}
