<!--
 @package Mediboard\Installation
 @author  SAS OpenXtrem <dev@openxtrem.com>
 @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<template>
  <div
    class="GoTopButton"
    @click="click">
    <INIcon icon="arrow-up" />
  </div>
</template>

<script src="./GoTopButton.ts" lang="ts"></script>

<style src="./GoTopButton.scss" lang="scss">

</style>
