/**
 * @package Mediboard\Installation
 * @author  SAS OpenXtrem <dev@openxtrem.com>
 * @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 * @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
 */

$install-menu-height: 25vh;
$install-menu-compact-height: 70px;

$install-menu-min-height: 175px;

body, html {
  margin: 0;
  padding: 0;
}

.Install {
  width: 100%;
  height: 100%;
  position: fixed;

  &-menu {
    height: $install-menu-height;
    min-height: $install-menu-min-height;
    transition: height .2s, min-height .2s;

    &Compact {
      height: $install-menu-compact-height;
      min-height: $install-menu-compact-height;
    }
  }

  &-content {
    height: #{100 - $install-menu-height};
    transition: height .2s;

    &Compact {
      height: calc(100% - 70px);
    }
  }

  &-goTopContainer {
    position: fixed;
    bottom: 32px;
    right: 32px;

    &.enter {
      animation: InstallGoTopContainerAnimation .15s;
      animation-timing-function: linear;
    }
    &.leave {
      animation: InstallGoTopContainerAnimation .15s reverse;
      animation-timing-function: linear;
    }
  }
}

@keyframes InstallGoTopContainerAnimation {
  0%   {opacity: 0; margin-bottom: -64px;}
  100% {opacity: 1; margin-bottom: 0;}
}