/*
  @package Openxtrem\Sample
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "~oxify/src/styles/utils";

.SampleDirectorLine {
  align-items: center;
  border-radius: $space;
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  gap: $space*4;
  padding: $space*2 $space*4 $space*2 $space*2;
  width: fit-content;

  &:hover,
  &:focus {
    @include primary-opacity($hover);
  }

  &.active {
    @include primary-opacity($active);
  }

  &-image {
    background: $background-dark;
    border-radius: 50%;
    height: 32px;
    object-fit: cover;
    width: 32px;
  }

  &-content {
    @include body1;
    @include on-background(high);
  }
}
