{# templates/data_collector/template.html.twig #}
{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 36 36">
            <path d="M16.2511 24.701C16.3478 24.6483 16.3987 24.5386 16.3763 24.4307C16.3539 24.3229 16.2636 24.2424 16.1539 24.2325C14.3817 24.0733 13.1839 23.6106 12.4216 22.9512C11.6665 22.2982 11.3117 21.4287 11.2705 20.3893C11.2289 19.3423 11.5068 18.1282 12.0189 16.8164C12.5302 15.507 13.2689 14.1154 14.1335 12.7179C17.5956 7.1218 23.0197 1.52161 23.6615 0.8992C23.7535 0.810046 23.7632 0.665834 23.684 0.565173C23.6048 0.464512 23.4624 0.439958 23.3541 0.5083C18.2578 3.72412 14.1752 7.73506 11.4172 11.5498C10.0381 13.4571 8.98735 15.3194 8.30711 17.0128C7.62855 18.7019 7.31182 20.2401 7.42105 21.4937C7.54324 23.0744 8.56571 24.5305 10.1527 25.2608C11.7459 25.9939 13.8876 25.9891 16.2511 24.701Z"
                  stroke-width="0.5" stroke-linejoin="round" fill="#aaaaaa"/>
            <path d="M19.7503 11.2972C19.6535 11.3498 19.6026 11.4596 19.625 11.5675C19.6473 11.6754 19.7377 11.7559 19.8474 11.7658C21.6151 11.9248 22.8096 12.3867 23.5695 13.045C24.322 13.6969 24.6754 14.5651 24.7158 15.6031C24.7565 16.6488 24.4785 17.8615 23.9665 19.1719C23.4555 20.48 22.7175 21.8704 21.8539 23.267C18.3959 28.8591 12.9805 34.4601 12.3357 35.1031C12.2453 35.1932 12.2373 35.3369 12.3171 35.4364C12.3968 35.536 12.5387 35.5596 12.6464 35.4911C17.7244 32.2612 21.798 28.2471 24.5565 24.4338C25.9357 22.527 26.989 20.6666 27.6741 18.9755C28.3577 17.2882 28.6816 15.7524 28.5821 14.501C28.4602 12.922 27.4373 11.4675 25.8497 10.7383C24.2562 10.0064 22.1143 10.0111 19.7503 11.2972Z"
                  stroke-width="0.5" stroke-linejoin="round" fill="#aaaaaa"/>
        </svg>
        <span class="sf-toolbar-value">OpenXtrem</span>
    {% endset %}

    {% set text %}
        {# this is the content displayed when hovering the mouse over the toolbar panel #}
        <div class="sf-toolbar-info-piece">
            <b>Times</b>
            {% for type,time in collector.times %}
                <span>{{ type|upper }} {{ time}} ms</span><br>
            {% endfor %}
        </div>

        <div class="sf-toolbar-info-piece">
            <b>Queries</b>
            {% for querie in collector.queries %}
                <span>{{ querie|join(' x') }}</span><br>
            {% endfor %}
        </div>

        <div class="sf-toolbar-info-piece">
            <b>Cache</b>
            {% for layer,count in collector.cache %}
                <span>{{ layer }} x{{ count}}</span><br>
            {% endfor %}
        </div>

    {% endset %}

    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { 'link': true }) }}
{% endblock %}

{% block head %}
    {# Optional. Here you can link to or define your own CSS and JS contents. #}
    {# Use {{ parent() }} to extend the default styles instead of overriding them. #}
{% endblock %}

{# {% block menu %} #}
{# #}{# This left-hand menu appears when using the full-screen profiler. #}
{# <span class="label"> #}
{# <strong>OpenXtrem</strong> #}
{# </span> #}
{# {% endblock %} #}

{% block panel %}
    {# Optional, for showing the most details. #}
    <h2>Acceptable Content Types</h2>
    <table>
        <tr>
            <th>Content Type</th>
        </tr>

        {% for type in collector.acceptableContentTypes %}
            <tr>
                <td>{{ type }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
