<!--
 @package Mediboard\Installation
 @author  SAS OpenXtrem <dev@openxtrem.com>
 @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->
<!doctype html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="ox-endpoint" content="{{ox-endpoint}}" />
  <title>Installation</title>
  <script src="vue/dist/js/installation.js"></script>
  <link rel="shortcut icon" type="image/png" href="../style/mediboard_ext/images/icons/_favicon.ico" />
</head>
<body>
<div id="app_install"></div>
</body>
</html>

