{{*
 * @package Mediboard\Hospi
 * @author  SAS OpenXtrem <dev@openxtrem.com>
 * @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 * @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*}}

{{mb_include module=system template=CMbObject_autocomplete}}

<span class="data" style="display: none" data-default_orientation="{{$match->default_orientation}}"
      data-default_destination="{{$match->default_destination}}"></span>