{{*
 * @package Mediboard\Hospi
 * @author  SAS OpenXtrem <dev@openxtrem.com>
 * @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 * @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*}}

<tr>
  <th colspan="5" class="category">{{tr}}module-dPhospi-court{{/tr}}</th>
</tr>
{{mb_include template=inc_pref spec=bool var=show_group_information}}