/**
 * @package Mediboard\Installation
 * @author  SAS OpenXtrem <dev@openxtrem.com>
 * @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 * @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
 */
// Primary color
$primary: #3F51B5;
$primary-900: #1A237E;
$primary-800: #283593;
$primary-700: #303F9F;
$primary-600: #3949AB;
$primary-500: #3F51B5;
$primary-400: #5C6BC0;
$primary-300: #7986CB;
$primary-200: #9FA8DA;
$primary-100: #C5CAE9;
$primary-50: #E8EAF6;

// Secondary color
$secondary: #0288D1;
$secondary-900: #012d63;
$secondary-800: #013c7e;
$secondary-700: #01579B;
$secondary-600: #0277BD;
$secondary-500: #0288D1;
$secondary-400: #039BE5;
$secondary-300: #03A9F4;
$secondary-200: #29B6F6;
$secondary-100: #81D4FA;
$secondary-50: #B3E5FC;

$white: #FFFFFF;
$black: #000000;
$emphasis-high-black: .87;
$emphasis-medium-black: .6;
$emphasis-low-black: .3;
$black-emphasis-400: rgba(0, 0, 0, $emphasis-high-black);
$black-emphasis-300: rgba(0, 0, 0, $emphasis-medium-black);
$black-emphasis-200: rgba(0, 0, 0, $emphasis-low-black);

$red: #f44336;
$green: #4caf50;

$grey-primary: #263238;
$grey-900: #263238;
$grey-800: #37474F;
$grey-700: #455A64;
$grey-600: #546E7A;
$grey-500: #607D8B;
$grey-400: #78909C;
$grey-300: #90A4AE;
$grey-200: #B0BEC5;
$grey-100: #d7e0e4;
$grey-75: #e1e7ea;
$grey-50: #f0f3f5;

// Convert Hex color value to rgba
@function alpha($hexcolor, $opacity: 1) {
  @return rgba($hexcolor, $opacity);
}

$font-weight-light: 300;
$font-weight-regular: normal;
$font-weight-medium: 500;


@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin font-roboto() {
  font-family: Roboto, Verdana, Sans-serif;
}

@function parse-int($number) {
  @return $number / ($number * 0 + 1);
}

$small-space: 2px;
$space: 4px;
$large-space: 8px;
$xlarge-space: 16px;

$border-radius: 4px;

@mixin h1 {
  @include font-roboto();
  font-size: 96px;
  letter-spacing: -1.5px;
  line-height: 112px;
  color: $black-emphasis-400;
}

@mixin h2 {
  @include font-roboto();
  font-size: 60px;
  line-height: 70px;
  letter-spacing: -0.5px;
  color: $black-emphasis-400;
}

@mixin h3 {
  @include font-roboto();
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.5px;
  color: $black-emphasis-400;
}

@mixin h4 {
  @include font-roboto();
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.25px;
  color: $black-emphasis-400;
}
@mixin h5 {
  @include font-roboto();
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.15px;
  font-weight: 500;
  color: $black-emphasis-400;
}

@mixin overline {
  @include font-roboto();
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: $black-emphasis-300;
}

@mixin body {
  @include font-roboto();
  letter-spacing: 0.15px;
  font-size: 16px;
  line-height: 28px;
  color: $black-emphasis-400;
}

@mixin table-header-text {
  @include body();
  color: $black-emphasis-300;
  font-weight: 500;
}
@mixin table-body-text {
  @include body();
  color: $black-emphasis-400;
  letter-spacing: 0;
}

@mixin font-button {
  @include font-roboto();
  font-weight: $font-weight-medium;
  font-size: 14px;
  letter-spacing: 0.75px;
}


$shadow-dark: rgba(0, 0, 0, 0.2);
$shadow-medium: rgba(0, 0, 0, 0.14);
$shadow-light: rgba(0, 0, 0, 0.12);
@mixin shadow0 {
  border: 1px solid $grey-100;
}
@mixin shadow1 {
  box-shadow: 0 1px 3px $shadow-dark, 0 2px 2px $shadow-light, 0 0 2px $shadow-medium;
}
@mixin shadow2 {
  box-shadow: 0 1px 5px $shadow-dark, 0 3px 4px $shadow-light, 0 2px 4px $shadow-medium;
}
@mixin shadow3 {
  box-shadow: 0 1px 8px $shadow-dark, 0 3px 4px $shadow-light, 0 3px 3px $shadow-medium;
}
@mixin shadow4 {
  box-shadow: 0 1px 10px $shadow-dark, 0 4px 5px $shadow-light, 0 2px 4px $shadow-medium;
}
@mixin shadow6 {
  box-shadow: 0 3px 5px $shadow-dark, 0 1px 18px $shadow-light, 0 6px 10px $shadow-medium;
}
@mixin shadow8 {
  box-shadow: 0 4px 5px $shadow-dark, 0 3px 14px $shadow-light, 0 8px 10px $shadow-medium;
}
@mixin shadow9 {
  box-shadow: 0 5px 6px $shadow-dark, 0 3px 16px $shadow-light, 0 9px 12px $shadow-medium;
}
@mixin shadow12 {
  box-shadow: 0 7px 8px $shadow-dark, 0 5px 22px $shadow-light, 0 12px 17px $shadow-medium;
}
@mixin shadow16 {
  box-shadow: 0 8px 10px $shadow-dark, 0 6px 30px $shadow-light, 0 16px 24px $shadow-medium;
}
@mixin shadow24 {
  box-shadow: 0 11px 15px $shadow-dark, 0 9px 46px $shadow-light, 0 24px 38px $shadow-medium;
}
