/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "~oxify/src/styles/utils";
@import "@/core/styles/utils";

.SampleMovieList {
  @include fullPage;
  display: grid;
  grid-template-columns: 380px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". .";


  &-filters {
    background-color: $grey-50;
  }

  &-filtersContent {
    display: flex;
    flex-flow: column nowrap;
    gap: $space*10;
    padding: $space*8 $space*4;
  }

  &-filterGroup {
    display: flex;
    flex-flow: column nowrap;
    gap: $space*2;
  }

  &-filterContent {
    align-items: center;
    display: flex;
    flex-flow: row;
  }

  &-filterName {
    @include subtitle2;
    color: $grey-900;
  }

  &-filterSeparator {
    margin: 0 $space;
  }

  &-filtersCheckbox {
    display: flex;
    flex-flow: column nowrap;
    gap: $space;
  }

  &-filterCheckbox {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    gap: $space*2;
  }

  &-content {
    @include elevation(1, true);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas:
      "."
      ".";
    height: 100%;
    overflow: hidden;
  }

  &-header {
    align-items: center;
    border-bottom: $border;
    display: flex;
    flex-flow: row nowrap;
    gap: $space*4;
    height: 96px;
    justify-content: space-between;
    padding: $space*6 $space*10;
    width: 100%;
  }

  &-title {
    @include h5;
    color: $grey-800;
  }

  &-search {
    flex: 1;
    max-width: 660px;
  }

  &-filmsContainer {
    display: flex;
    flex-flow: column nowrap;
    gap: $space*4;
    padding: $space*4 $space*10 0 $space*10;
    overflow: hidden;
  }

  &-filmsHeader {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  &-sortSection {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    gap: $space*4;
  }

  &-counter {
    @include body2;
    @include on-background(medium);
  }

  &-films {
    --column-number: 5;
    display: grid;
    gap: $space*6;
    grid-template-columns: repeat(var(--column-number), minmax(0, 1fr));
    justify-items: stretch;
    margin: 0 $space*-10;
    padding: 0 $space*10 $space*4 $space*10;

    @include screenLargerThan($screenWide, "400") {
      --column-number: 6;
    }

    @include screenLargerThan($screenWide, "600") {
      --column-number: 7;
    }

    @include screenLargerThan($screenWide, "800") {
      --column-number: 8;
    }

    @include screenSmallerThan($screenWide, "200") {
      --column-number: 4;
    }

    @include screenSmallerThan($screenSmall, "800") {
      --column-number: 3;
    }

    @include screenSmallerThan($screenSmall, "600") {
      --column-number: 2;
    }

    @include screenSmallerThan($screenSmall, "400") {
      --column-number: 1;
    }
  }

  &-film {}

  &-contextMenu {
    @include on-background(medium);
  }

  &-form {
    @include elevation(1, true);
    @include fullPage;
    bottom: 0;
    padding: 0 $space*20;
    position: fixed;
  }
}
