{{*
 * @package Mediboard\System
 * @author  SAS OpenXtrem <dev@openxtrem.com>
 * @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 * @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*}}

<div style="text-align: center">
  <em>
   {{$results}} {{tr}}Results{{/tr}} (Limite : {{$limit}})
  </em>
</div>