{{*
 * @package Mediboard\System
 * @author  SAS OpenXtrem <dev@openxtrem.com>
 * @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 * @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*}}

<div class="big-warning">
  Ce module <strong>n'est pas activé</strong> !
  <br />
  Vous pouvez l'activer en allant dans le
  <a href="?m=system&tab=view_modules">Panneau d'administration des modules</a>
</div>