{{*
 * @package Mediboard\System
 * @author  SAS OpenXtrem <dev@openxtrem.com>
 * @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 * @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*}}

<h2>Assistant d'installation</h2>

<ol>
  <li>
    <a href="install/01_check.php">Prérequis</a>
  </li>
  <li>
    <a href="install/02_fileaccess.php">Permissions en écriture</a>
  </li>
  <li>
    <a href="install/03_install.php">Installation</a>
  </li>
  <li>
    <a href="install/04_configure.php">Configuration</a>
  </li>
  <li>
    <a href="install/05_initialize.php">Initialisation</a>
  </li>
  <li>
    <a href="install/06_feed.php">Remplissage des bases</a>
  </li>
  <li>
    <a href="install/07_finish.php">Finalisation</a>
  </li>
  <li>
    <a href="install/08_phpinfo.php">Infos PHP</a>
  </li>
  <li>
    <a href="install/09_errorlog.php">Logs</a>
  </li>
</ol>