{{*
 * @package Mediboard\Admin
 * @author  SAS OpenXtrem <dev@openxtrem.com>
 * @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 * @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*}}

<input class="str" type="text" size="40" name="pref[{{$var}}]" value="{{$pref.user}}" {{if $readonly}}readonly="readonly"{{/if}}/>
