{{*
 * @package Mediboard\Admissions
 * @author  SAS OpenXtrem <dev@openxtrem.com>
 * @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 * @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*}}

<div class="small-warning refresh-page-message">
  <strong>Veuillez rafraîchir la page afin de revenir un affichage correct.</strong> 
  (Touche F5 ou Command+R sur votre clavier).
</div>