{{*
 * @package Mediboard\Ssr
 * @author  SAS OpenXtrem <dev@openxtrem.com>
 * @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 * @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*}}

{{mb_include template=inc_pref spec=bool var=ssr_planning_dragndrop}}
{{mb_include template=inc_pref spec=num  var=ssr_planification_duree}}
{{mb_include template=inc_pref spec=bool var=ssr_planification_show_equipement}}
