{#@author  SAS OpenXtrem <dev@openxtrem.com>#}
{#@license https://www.gnu.org/licenses/gpl.html GNU General Public License#}
{#@license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License#}

<!DOCTYPE html>
<html>
    <head>
{#        <base href="http://127.0.0.1/mediboard/">     #}
        <meta charset="UTF-8">
        <title>OX {% block title %}{% endblock %}</title>

        {% block head %}
        {% endblock %}

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
