{#@author  SAS OpenXtrem <dev@openxtrem.com>#}
{#@license https://www.gnu.org/licenses/gpl.html GNU General Public License#}
{#@license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License#}

{% extends "base.html.twig" %}

{% block title %}An error occurred{% endblock %}

{% block head %}
    {{ parent() }}
    <style type="text/css">
      .important {
        color: darkred;
      }
    </style>
{% endblock %}

{% block body %}
    <h1>An error occurred while processing your request : </h1>
    <p class="important">Type : {{ type }}</p>
    <p class="important">Code : {{ code }}</p>
    <p class="important">Message : {{ message }}</p>
    </p>
{% endblock %}
