/**
 * @package Mediboard\Installation
 * @author  SAS OpenXtrem <dev@openxtrem.com>
 * @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 * @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
 */
@import '../INUtils';

$reset-size: 20px;

.INField {
  &-content {
    position: relative;
    padding: $space*2;
    box-sizing: border-box;
    width: 350px;
    max-width: 100%;
  }

  &-label {
    @include body;
    color: $black-emphasis-300;
    position: absolute;
    top: 50%;
    left: #{12px + $space*2};
    transform: translateY(-50%);
    transform-origin: top left;
    transition: transform .15s cubic-bezier(.08,.82,.17,1), color .1s linear;
    overflow: visible;

    &:hover {
      cursor: text;
    }
  }

  &-border {
    position: absolute;
    height: 1px;
    background-color: $grey-200;
    width: calc(100% - #{$space*4});
    bottom: $space*2;
    left: 50%;
    transform: translateX(-50%);

    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: $primary;
      transform-origin: bottom center;
      opacity: 0;
      transform: scaleX(0);
      transition: transform 180ms cubic-bezier(0.4, 0, 0.2, 1), opacity 180ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &-reset {
    position: absolute;
    display: flex;
    align-items: center;
    height: 100%;
    right: $large-space + $space;
    top: 0;
    width: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity .2s, color .2s;
  }

  &-field {
    @include body;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    height: 56px;
    border: none;
    box-sizing: border-box;
    border-radius: $border-radius $border-radius 0 0;
    padding: 16px 16px 0 12px;
    outline: none;
    background-color: $grey-50;
    transition: background-color .05s linear;

    &:hover {
      background-color: $grey-75;
    }

    &:focus {
      background-color: $grey-100;
      ~ .INField-label {
        transform: translateY(-86%) scale(0.75);
        color: $primary;
      }

      ~ .INField-border::after {
        height: 2px;
        transform: scaleX(1);
        opacity: 1;
      }
    }


    &.dirty {
      ~ .INField-label {
        transform: translateY(-86%) scale(0.75);
      }

      ~ .INField-reset {
        opacity: .33;
        cursor: pointer;
        width: $reset-size;
        &:hover {
          color: $primary;
          opacity: .7;
        }
      }
    }
  }
}
