{{*
 * @package Mediboard\Pmsi
 * @author  SAS OpenXtrem <dev@openxtrem.com>
 * @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 * @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*}}

<table class="tbl">
  <tr>
    <th class="title" colspan="2">Liste des sorties par mois</th>
  </tr>
  <tr>
    <td class="ok" style="width: 20px;"></td>
    <td class="text">Tous les dossiers sont reçus ou complétés</td>
  </tr>
  <tr>
    <td class="warning"></td>
    <td class="text">Des dossiers ne sont pas reçus ou complétés</td>
  </tr>

  <tr>
    <th class="title" colspan="2">Liste des sorties du jour</th>
  </tr>
  <tr class="sejour-type-default sejour-type-ambu" style="text-align: center">
    <td class="text" colspan="2">Ambulatoire</td>
  </tr>
  <tr class="sejour-type-default sejour-type-comp" style="text-align: center">
    <td class="text" colspan="2">Hospitalisation complète</td>
  </tr>
  <tr class="sejour-type-default sejour-type-exte" style="text-align: center">
    <td class="text" colspan="2">Externe</td>
  </tr>
  <tr class="sejour-type-default sejour-type-consult" style="text-align: center">
    <td class="text" colspan="2">Consultations</td>
  </tr>
</table>