<!--
 @package Mediboard\Installation
 @author  SAS OpenXtrem <dev@openxtrem.com>
 @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<template>
  <div class="INCard">
    <slot></slot>
  </div>
</template>

<script src="./INCard.ts" lang="ts"></script>

<style src="./INCard.scss" lang="scss" scoped>
</style>
