/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "~oxify/src/styles/utils";

.SamplePersonAutocomplete {
  @include hoverable;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: $space*2;
  padding: 0 $space*3;

  &-avatarChips {
    margin-right: $space*2;
  }

  &-image {
    object-fit: cover;
  }

  &-text {
    @include body1;
    @include on-background(high);
  }
}
