{# templates/bundles/TwigBundle/Exception/error.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>An Error Occurred</h1>
{#    <h2>The server returned an {{ status_code  }} status ({{ status_text }}) </h2>#}
{% endblock %}
