{{*
 * @package Mediboard\Etablissement
 * @author  SAS OpenXtrem <dev@openxtrem.com>
 * @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 * @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*}}

<span class="mediuser" style="border-left-color: #000;"
      onmouseover="ObjectTooltip.createEx(this, '{{$group->_guid}}')">
  {{$group}}
</span>