{{*
 * @package Mediboard\Developpement
 * @author  SAS OpenXtrem <dev@openxtrem.com>
 * @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 * @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*}}

<!DOCTYPE html>
<html lang="fr">
<head></head> 
<body>
  <!--<iframe src="?m=dPdeveloppement&a=css_test&dialog=1" height="500" width="100%" frameborder="0"></iframe>-->
  <iframe src="?" height="800" width="100%" frameborder="0"></iframe>
</body>
</html>