/**
 * @package Mediboard\Installation
 * @author  SAS OpenXtrem <dev@openxtrem.com>
 * @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 * @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
 */
@import "../../../INUtils";

.Connexion {
  width: 100%;
  height: 100%;
  @include flex-center();

  &-card {
    width: 350px;
  }

  &-action {
    text-align: right;
    padding-right: $large-space;
  }
  &-error {
    width: 100%;
    @include body();
    box-sizing: border-box;
    padding: $large-space;
    color: $red;
  }
}